<h2>New Customer form</h2>
<form #customerForm="ngForm" (ngSubmit)="createCustomer(customerForm)">

  <label for="customerName">Customer</label>
  <input type="text" required ngModel #name="ngModel" minlength="5" [(ngModel)]="newCustomer.name" name="customerName">
  <small *ngIf="name.invalid">Please fill customer name</small>

  <label for="type">Type</label>
  <select name="type" required #customerType="ngModel" ngModel placeholder="Please select"
    [(ngModel)]="newCustomer.type">
    <option [ngValue]="null">Please select</option>
    <option *ngFor="let item of types">{{item}}</option>
  </select>
  <small *ngIf="customerType.invalid">Please select a type</small>

  <button type="submit" [disabled]="customerForm.invalid">Add Customer</button>
</form>

<h2>Customer list</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers | async">
      <td>{{customer.name}}</td>
      <td>{{customer.type}}</td>
      <td>
        <a [routerLink]="['/customer', customer.customerId]">Open</a>
      </td>
    </tr>
  </tbody>
</table>