<p>JobId: {{job?.jobId}}</p>

<p *ngIf="!job?.customer; else elseBlock">Customer: Unknown</p>
<ng-template #elseBlock>Customer: {{job?.customer?.name}}</ng-template>

<p>Engineer: {{job?.engineer}}</p>
<p>When: {{job?.when | date:'shortDate'}}</p>

<a [routerLink]="['/jobs']">Back</a>
